/* Estructura Principal */
.contenido .contenedorAdmAgregarArbitroNuevo {
    margin: 0rem;
    padding: 0rem;
}

.contenido .contenedorAdmAgregarArbitroNuevo yourTags{
    margin: 0rem;
    padding: 0rem;
}