html {
    /*bases tipograficas*/
    --vina: 'Vina Sans', cursive;
    --sarabun: "Sarabun", sans-serif;
    --sarabun-b: 'Sarabun Bold', cursive;

    /*tamaños*/

    --titulos:  120px;
    --subtitulos: 72px;
    --parrafos-links: 24px;
    --letra-s: 18px;
    --letra-xs: 16px;

    /*validar luego los media querys para modificar tamaños*/
}